<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ahivs.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".basic.RectangleActivity"
            android:exported="true"
            android:label="@string/title_activity_custom_rect" />

        <activity
            android:name=".basic.MultiRectActivity"
            android:exported="true"
            android:label="@string/multi_rect" />

        <activity
            android:name=".basic.SquareActivity"
            android:exported="true"
            android:label="@string/custom_square" />

        <activity
            android:name=".basic.CircleActivity"
            android:exported="true"
            android:label="@string/circle_view" />

        <activity
            android:name=".basic.TriangleActivity"
            android:exported="true"
            android:label="@string/triangle_drawing" />

        <activity
            android:name=".extending.CustomEditTextActivity"
            android:exported="true"
            android:label="Custom Edit Text" />

        <activity
            android:name=".intermediate.FanControlActivity"
            android:exported="true"
            android:label="Fan Control Activity" />

        <activity
            android:name=".intermediate.SimpleDrawActivity"
            android:exported="true"
            android:label="Simple Drawing" />

        <activity
            android:name=".intermediate.SketchViewActivity"
            android:exported="true"
            android:label="Sketch View" />

        <activity
            android:name=".intermediate.ScalingRectanglesActivity"
            android:exported="true"
            android:label="Scaling Rectangles" />
    </application>

</manifest>